/* Estilos generales */
:root{
    /* Se crean variables para los colores */
    --white: #FFFFFF;  
    --black: #000000;
    --very-ligth-pink: #c7c7c7;
    --text-input-field: #f7f7f7;
    --hospital-green: #ACD9B2;
    /* Se crean variables para los tamaños de letra */
    --sm: 14px; 
    --md: 16px;
    --lg: 18px;
}
body{
    font-family: 'Quicksand', sans-serif;
}

/* Se pone esta clase en el html en el elemento que deseamos que tenga esta propiedad de aparecer y desaparecer, en este caso el menu-desktop */
.inactive{
    display: none;
}

/* Navbar general */
nav{
    display: flex;
    /* Para enviar al fondo el email y el carrito */
    justify-content: space-between;
    padding: 0 24px;
    border-bottom: 1px solid var(--very-ligth-pink);
}

.menu{
    /* Para que en la vista de desktop no se vea */
    display: none;
}

.logo{
    width: 100px;
}

.nav-left ul, .nav-rigth ul{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    /* Para que se alineen todos horizontalmente */
    align-items: center;
    height: 60px;
}

.nav-left {
    display: flex;
}

.nav-left ul {
    margin-left: 12px;
}


.nav-left ul li a{
    text-decoration: none;
    color: var(--very-ligth-pink);
    border: 1px solid var(--white);
    padding: 8px;
    border-radius: 8px;
}

/* Para que al seleccionarlo con el mouse el color cambie */
.nav-left ul li a:hover{
    border: 1px solid var(--hospital-green);
    color: var(--hospital-green);

}

.nav-email{
    cursor: pointer;
    color: var(--very-ligth-pink);
    font-size: var(--sm);
    margin-right: 12px ;
}

.nav-shopping-cart {
    position: relative;
}

/* Para hacer la bolita con el numero encima del carrito de compras */
.nav-shopping-cart div{
    width: 16px;
    height: 16px;
    background-color: var(--hospital-green);
    border-radius: 50%;
    font-size: var(--sm);
    font-weight: bold;
    position: absolute;
    top: -6px;
    right: -3px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Desktop menu */
.desktop-menu{
    position: absolute;
    /* Se baja del navbar para que quede bonito YO LO PROBÉ EN EL INSPECCIONAR*/
    top: 68px;
    /* Se mueve a la derecha exactamente donde lo quiero poner, YO LO PROBÉ EN EL INSPECCIONAR*/
    right: 70px;
    background: var(--white);
    width: 100px;
    height: auto;
    border: 1px solid var(--very-ligth-pink);
    border-radius: 6px;
    padding: 20px 20px 0 20px;
}

.desktop-menu ul{
    /* Para quitarle las viñetas */
    list-style: none;
    padding: 0;
    margin: 0;
}

.desktop-menu ul li{
    text-align: end;
    font-weight: bold;
}

/* Para estilizar el ultimo elemento de la lista se usa la pseudoclase lastchild */
.desktop-menu ul li:last-child{
    padding-top: 20px;
    /* solamente ponerle la línea de arriba */
    border-top: 1px solid var(--very-ligth-pink);
}

.desktop-menu ul li:last-child a{
    color: var(--hospital-green);
    font-size: var(--sm);
}

.desktop-menu ul li a{
    color: var(--black);
    font-size: var(--sm);
    /* Para quitar el hipervinculo */
    text-decoration: none;
    /* Para poder aplicarle el margin se debe poner el display inline con caracteristicas de bloque, ya que el elemento de listas no tiene esas caracteristicas de la caja */
    display: inline-block;
    margin-bottom: 20px;

}

/* Mobile menu */
.mobile-menu{
    background-color: var(--white);
    position: absolute;
    top: 60px;
    padding: 24px;
}

.mobile-menu ul{
    padding: 0;
    margin: 24px 0 0 ;
    /* Para quitar las viñetas */
    list-style: none;
}

.mobile-menu a{
    /* Para quitar los hipervinculos */
    text-decoration: none;
    color: var(--black);
    font-weight: bold;
}

.mobile-menu ul:nth-child(1){
    border-bottom: 1px solid var(--very-ligth-pink);

}

.mobile-menu ul:nth-child(3){
    position: absolute;
    bottom: 0;
}

.mobile-menu ul li{
    margin: 30px 0 30px 0;
}

.email{
    font-size: var(--sm);
    /* Se pone el important por el tema de especificidad, pero se debe evitar al maximo ponerlos */
    font-weight: 300 !important;
    color: var(--very-ligth-pink);
}

.sign-out{
    font-size: var(--sm);
    color: var(--hospital-green) !important;
}

/* Aside (product detail y carrio) */
.product-detail{
    background-color: var(--white);
    width: 360px;
    padding: 0 24px;
    /* Para poner todo centrado */
    box-sizing: border-box;
    /* Para poner todo a la derecha en el contenedor total */
    position: absolute;
    right: 0;
}

.title-container{
    display: flex;
}

/* Para rotar la imagen de la flecha */
.title-container img{
    transform: rotate(180deg);
    margin-right: 20px;
}

.title{
    font-size: var(--lg);
    font-weight: bold;

}

.myo-content{
    display: flex;
    flex-direction: column;
}

.shopping-cart{
    display: grid;
    /* Se divide en cuato grids para que quede imagen, texto, espacio en blanco y precio */
    grid-template-columns: auto 1fr auto auto;
    gap: 16px;
    margin-bottom: 30px;
    align-items: center;
}

.shopping-cart figure{
    margin: 0;
}

.shopping-cart figure img{
    width: 78px;
    height: 78px;
    border-radius: 20px;
    /* para que la imagen no se distorsione */
    object-fit: cover;
}

.shopping-cart p:nth-child(2){
    color: var(--very-ligth-pink);
}

.shopping-cart p:nth-child(3){
    font-size: var(--md);
    font-weight: bold;
}

.order{
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 16px;
    align-items: center;
    background-color: var(--text-input-field);
    margin-bottom: 24px;
    border-radius: 8px;
    padding: 0 24px;
}

.order p:nth-child(1){
    /* Se crea un flexbox en el primer pedazo de la grilla para poder poner verticales los textos */
    display: flex;
    flex-direction: column;
}

.order p span:nth-child(1){
    font-size: var(--md);
    font-weight: bold;
}

.order p:nth-child(2){
    /* para que el texto se vaya al fondo del grid */
    text-align: end;
    font-weight: bold;
}

.primary-button{
    background-color: var(--hospital-green);
    border-radius: 8px;
    border: none;
    color: var(--white);
    width: 100%;
    height: 50px;
    /* Se pone para que cuando se ponga el mouse encima salga una manito */
    cursor: pointer;
    font-size: var(--md);
    font-weight: bold;
}

/* Product list */

.cards-container{
    display: grid;
    /* Se pone la cantidad de columnas que queremos y el tamaño */
    grid-template-columns:repeat(auto-fill, 240px);
    /* Espacio entre cards */
    gap: 26px;
    /* Alinear la grilla completamente en el centro  */
    place-content: center;
    margin-top: 48px;
}

.product-card{
    width: 240px;
}

.product-card img{
    width: 240px;
    height: 240px;
    border-radius: 20px;
    /* para que la imagen no se distorsione */
    object-fit: cover;
}
.product-info{
    display: flex;
    /* Alinear forma horizontal */
    justify-content: space-between;
    /* Alinear forma vertical */
    align-items: center;
    margin-top: 12px;
}

.product-info figure{
    margin: 0;
}


.product-info figure img{
    width: 35px;
    height: 35px;
}

/* El primer parrafo (nthchild) dentro del div  */
.product-info div p:nth-child(1){
    font-weight: bold;
    font-size: var(--md);
    margin-top: 0;
    margin-bottom: 4px;
}
/* El segundo parrafo (nthchild) dentro del div  */
.product-info div p:nth-child(2){
    font-size: var(--sm);
    margin-top: 0;
    margin-bottom: 0;
    color: var(--very-ligth-pink);
}


@media (max-width: 640px){
    .menu {
        display: block;
    }

    .nav-left ul, .nav-email, .desktop-menu {
        display: none;
    }

    .cards-container{
        /* Se pone la cantidad de columnas que queremos y el tamaño */
        grid-template-columns:repeat(2, 140px);
        /* Espacio entre cards */
        gap: 26px;
        margin: 48px;
    }
    
    .product-card{
        width: 140px;
    }
    
    
    .product-card img{
        width: 140px;
        height: 140px;
    }
    
}

@media (min-width: 641px){
    .mobile-menu {
        display: none;
    }
}